<div class="home-container">
    <!-- Welcome Message -->
    <h1>Welcome to TripPal!</h1>
    <span class="slogan-icon">
        <img src="/Images/Slogan.png" alt="TripPal Logo">
    </span>
    <p>Your ultimate travel companion for planning, organizing, and experiencing the perfect trip.</p>

    <!-- Sign-In and Trip Creation Form -->
    <div class="form-container">
        <p>Have a Trip in mind? Sign in and start selecting preferences for our state of the art Pereference Algorithm to suggest you only the most enjoyable activities</p>
        <button (click)="navigateToLogin()">Sign In & Create Your Trip</button>
    </div>
</div>
