<!-- Top Navigation Bar -->
<div class="topnav">
    <span class="menu-icon" (click)="toggleNav()">
        <img src="/Images/Plane and Name.png" alt="TripPal Logo">
    </span>
    <a href="#">Home</a>
    <a href="#">Services</a>
    <a href="#">Contact</a>
    <a href="#" class="right">Login</a>
</div>


<!-- Side Navigation -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="toggleNav()">&times;</a>
    <a href="#">Home</a>
    <a href="#">My Account</a>
    <a href="#">Dashboard</a>
    <a href="#">Settings</a>
    <a href="#">Support</a>
    <a href="#">Logout</a>
</div>

<!-- Page Content -->
<div id="main">
    <h2>Welcome</h2>
    <p>Click the menu icon to open the side navigation.</p>
</div>


