<!-- Top Navigation Bar -->
<div class="topnav">
    <span class="menu-icon" (click)="toggleNav()">
        <img src="/Images/Plane and Name.png" alt="TripPal Logo">
    </span>
    <a href="">Home</a>
    <a href="/trips"> Trips</a>
    <span style="margin-left: px;"></span>  <!-- Hardcoded Space -->
    <a href="/login" class="right" style="margin-right: 25px;">Login</a>

</div>


<!-- Side Navigation -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="toggleNav()">&times;</a>
    <a href="">Home</a>
    <a href="/account">My Account</a>
    <a href="/trips">Trips</a>
    <a href="/settings">Settings</a>
    <a href="/support">Support</a>
    <a href="/logout">Logout</a>
</div>



