<div *ngIf="showPopup" class="popup-message">
    {{ popupMessage }}
</div>

<div class="trip-container" *ngIf="editTrip">
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>Trip: {{ editTrip.location }}</h2>
  
      <!-- Location with Places Autocomplete + ngModel -->
      <label>Location:
        <input
          #locInput
          [(ngModel)]="editTrip.location"
          name="location"
          placeholder="Where to?"
        />
      </label>
  
      <label>Start Date:
        <input [(ngModel)]="editTrip.startDate" type="date" name="startDate" />
      </label>
  
      <label>End Date:
        <input [(ngModel)]="editTrip.endDate" type="date" name="endDate" />
      </label>
  
      <label>Flights:
        <input [(ngModel)]="editTrip.flights" name="flights" />
      </label>
  
      <!-- Accommodation with Places Autocomplete + ngModel -->
      <label>Accommodation:
        <input
          #accomInput
          [(ngModel)]="editTrip.accommodation"
          name="accommodation"
          placeholder="Hotel name?"
        />
      </label>
  
      <label>Budget:
        <input [(ngModel)]="editTrip.budget" type="number" name="budget" />
      </label>
  
      <label>Notes:
        <textarea [(ngModel)]="editTrip.notes" name="notes"></textarea>
      </label>
  
      <!-- FamilyAttending array -->
      <h4>Family Attending</h4>
      <div *ngIf="editTrip.familyAttending?.length; else noFam">
        <ul class="family-list">
          <li *ngFor="let fam of editTrip.familyAttending">
            <label>
              <input type="checkbox" [(ngModel)]="fam.attending" name="fam{{fam.name}}" />
              <span class="fam-name">{{ fam.name }}</span>
            </label>
          </li>
        </ul>
      </div>
      <ng-template #noFam>
        <p>No family members listed.</p>
      </ng-template>
      

  
      <button class="primary-btn" (click)="saveTrip()">Save</button>
      <!-- New Delete Trip button -->
      <button class="danger-btn" (click)="deleteTrip()">Delete Trip</button>
    </div>
  
    <!-- Map + itinerary area -->
    <div class="map-area">
      <google-map
        [center]="mapCenter"
        [zoom]="14"
        [options]="mapOptions"
        (mapClick)="onMapClicked($event)"
        height="600px"
        width="600px"
      >
      </google-map>
  
      <!-- Itinerary list -->
      <div class="itinerary">
        <h4>Itinerary</h4>
        <ul>
          <li *ngFor="let item of editTrip.itinerary; let i = index">
            {{ item.placeName }} ({{ item.lat }}, {{ item.lng }})
            <button class="danger-btn" (click)="removeItineraryItem(i)">Remove</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <support></support>
  